<?xml version='1.0' encoding='utf-8'?>
<robot name="ur10e">
  <link name="world">
    <inertial>
      <mass value="0.000001" />
      <inertia ixx="1e-9" iyy="1e-9" izz="1e-9" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <link name="base_link">
    <inertial>
      <mass value="0.000001" />
      <inertia ixx="1e-9" iyy="1e-9" izz="1e-9" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <link name="base_link_inertia">
    <visual>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="visual/base/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="collision/base.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="4.0" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0061063308908" ixy="0.0" ixz="0.0" iyy="0.0061063308908" iyz="0.0" izz="0.01125" />
    </inertial>
  </link>
  <link name="shoulder_link">
    <visual>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="visual/shoulder/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 3.141592653589793" xyz="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="collision/shoulder.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="7.369" />
      <origin rpy="1.570796326794897 0 0" xyz="0.021 -0.027 0.0" />
      <inertia ixx="0.03408" ixy="2e-05" ixz="-0.00425" iyy="0.03529" iyz="8e-05" izz="0.02156" />
    </inertial>
  </link>
  <link name="upper_arm_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.1762" />
      <geometry>
        <mesh filename="visual/upperarm/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.1762" />
      <geometry>
        <mesh filename="collision/upperarm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="13.051" />
      <origin rpy="0 0 0" xyz="-0.2327 0.0 0.158" />
      <inertia ixx="0.02814" ixy="5e-05" ixz="-0.01561" iyy="0.77068" iyz="2e-05" izz="0.76943" />
    </inertial>
  </link>
  <link name="forearm_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.0393" />
      <geometry>
        <mesh filename="visual/forearm/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 -1.5707963267948966" xyz="0.0 0.0 0.0393" />
      <geometry>
        <mesh filename="collision/forearm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="3.989" />
      <origin rpy="0 0 0" xyz="-0.33155 0.0 0.068" />
      <inertia ixx="0.01014" ixy="8e-05" ixz="0.00916" iyy="0.30928" iyz="0.0" izz="0.30646" />
    </inertial>
  </link>
  <link name="wrist_1_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.135" />
      <geometry>
        <mesh filename="visual/wrist1/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 0.0 -0.135" />
      <geometry>
        <mesh filename="collision/wrist1.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.1" />
      <origin rpy="1.570796326794897 0 0" xyz="0.0 -0.018 0.007" />
      <inertia ixx="0.00296" ixy="-1e-05" ixz="0.0" iyy="0.00222" iyz="-0.00024" izz="0.00258" />
    </inertial>
  </link>
  <link name="wrist_2_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.12" />
      <geometry>
        <mesh filename="visual/wrist2/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 -0.12" />
      <geometry>
        <mesh filename="collision/wrist2.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.98" />
      <origin rpy="-1.570796326794897 0 0" xyz="0.0 0.018 -0.007" />
      <inertia ixx="0.00296" ixy="-1e-05" ixz="0.0" iyy="0.00222" iyz="-0.00024" izz="0.00258" />
    </inertial>
  </link>
  <link name="wrist_3_link">
    <visual>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.0005 -0.1168" />
      <geometry>
        <mesh filename="visual/wrist3/mesh.obj" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0.0 0.0" xyz="0.0 -0.0005 -0.1168" />
      <geometry>
        <mesh filename="collision/wrist3.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.615" />
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.026" />
      <inertia ixx="0.0004" ixy="0.0" ixz="0.0" iyy="0.00041" iyz="0.0" izz="0.00034" />
    </inertial>
  </link>
  <joint name="base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  <joint name="base_link-base_link_inertia" type="fixed">
    <parent link="base_link" />
    <child link="base_link_inertia" />
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
  </joint>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link_inertia" />
    <child link="shoulder_link" />
    <origin rpy="0 0 0" xyz="0 0 0.1807" />
    <axis xyz="0 0 1" />
    <limit effort="330.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="2.0943951023931953" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link" />
    <child link="upper_arm_link" />
    <origin rpy="1.570796327 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="330.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="2.0943951023931953" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link" />
    <child link="forearm_link" />
    <origin rpy="0 0 0" xyz="-0.6127 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="150.0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link" />
    <child link="wrist_1_link" />
    <origin rpy="0 0 0" xyz="-0.57155 0 0.17415" />
    <axis xyz="0 0 1" />
    <limit effort="54.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link" />
    <child link="wrist_2_link" />
    <origin rpy="1.570796327 0 0" xyz="0 -0.11985 -2.458164590756244e-11" />
    <axis xyz="0 0 1" />
    <limit effort="54.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link" />
    <child link="wrist_3_link" />
    <origin rpy="1.570796326589793 3.141592653589793 3.141592653589793" xyz="0 0.11655 -2.390480459346185e-11" />
    <axis xyz="0 0 1" />
    <limit effort="54.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="ft_frame">
    <inertial>
      <mass value="0.000001" />
      <inertia ixx="1e-9" iyy="1e-9" izz="1e-9" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="wrist_3_link-ft_frame" type="fixed">
    <parent link="wrist_3_link" />
    <child link="ft_frame" />
    <origin rpy="3.141592653589793 0 0" xyz="0 0 0" />
  </joint>
  <link name="base">
    <inertial>
      <mass value="0.000001" />
      <inertia ixx="1e-9" iyy="1e-9" izz="1e-9" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="base_link-base_fixed_joint" type="fixed">
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  <link name="flange">
    <inertial>
      <mass value="0.000001" />
      <inertia ixx="1e-9" iyy="1e-9" izz="1e-9" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="wrist_3-flange" type="fixed">
    <parent link="wrist_3_link" />
    <child link="flange" />
    <origin rpy="0 -1.5707963267948966 -1.5707963267948966" xyz="0 0 0" />
  </joint>
  <link name="tool0">
    <inertial>
      <mass value="0.000001" />
      <inertia ixx="1e-9" iyy="1e-9" izz="1e-9" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>
  <joint name="flange-tool0" type="fixed">
    <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
  <link name="vacuum_tool">
    <inertial>
      <origin xyz="0 0 0.09" />
      <mass value="0.35" />
      <inertia ixx="0.001" iyy="0.001" izz="0.0002" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.09" />
      <geometry>
        <cylinder radius="0.025" length="0.18" />
      </geometry>
      <material name="tool">
        <color rgba="0.15 0.15 0.16 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.09" />
      <geometry>
        <cylinder radius="0.025" length="0.18" />
      </geometry>
    </collision>
  </link>
  <joint name="vacuum_fixed" type="fixed">
    <parent link="tool0" />
    <child link="vacuum_tool" />
  </joint>
  <link name="wrist_camera">
    <inertial>
      <mass value="0.10" />
      <inertia ixx="0.00004" iyy="0.00003" izz="0.00004" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.035 0.055 0.035" />
      </geometry>
      <material name="camera">
        <color rgba="0.08 0.10 0.13 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.035 0.055 0.035" />
      </geometry>
    </collision>
  </link>
  <joint name="camera_fixed" type="fixed">
    <parent link="tool0" />
    <child link="wrist_camera" />
    <origin xyz="0.1 0 0.0175" />
  </joint>
</robot>